<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>

<body>
    <h3><a href="{% url 'index' %}"class="button">Wróć na stronę główną</a></h3>
    <h1 id="powrot">Rejestracja</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %} <!-- Zawsze przywołuj csrf_token gdy formularz korzysta z POST aby chronić przed CSRF (https://owasp.org/www-community/attacks/csrf#overview) <p> -->
            <h2> {% for field in form %}</h2> <!-- Tworzy formularz pole po polu zgodnie z templatem forms.py (https://docs.djangoproject.com/en/5.1/topics/forms/#looping-over-the-form-s-fields) -->
            <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help" id="{{ field.auto_id }}_helptext">
                    {{ field.help_text|safe }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <br>
        <button type="submit">Zarejestruj się</button>
    </form>
</body>
</html>