<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>

<body>
    <header class="czarny-naglowek">
        <h1>Rejestracja</h1>
    </header>
    <h3><a href="{% url 'index' %}"class="button1">Wróć na stronę główną</a></h3>
    
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %} <!-- Zawsze przywołuj csrf_token gdy formularz korzysta z POST aby chronić przed CSRF (https://owasp.org/www-community/attacks/csrf#overview) <p> -->
        <label class="label_tekst" for="id_username">Nazwa użytkownika</label><br>
            {{form.username}}
            {{form.username.errors}}
        <br><br>
        <label class="label_tekst" for="id_first_name">Imię</label><br>
            {{form.first_name}}
            {{form.first_name.errors}}
        <br><br>
        <label class="label_tekst" for="id_last_name">Nazwisko</label><br>
            {{form.last_name}}
            {{form.last_name.errors}}
        <br><br>
        <label class="label_tekst" for="id_email">Email</label><br>
            {{form.email}}
            {{form.email.errors}}
        <br><br>
        <label class="label_tekst" for="id_password">Hasło</label><br>
            {{form.password}}
            {{form.password.errors}}
        <br><br>
        <label class="label_tekst" for="id_password_confirm">Potwierdź hasło</label><br>
            {{form.password_confirm}}
            {{form.password_confirm.errors}}
        <br><br>

        
        <button class="button2">Zarejestruj się</button>
    </form>
    <br>
    <a href="{% url 'login' %}" class="link"><u><b> Masz już konto? Zaloguj się.</u></b></a>
</body>
</html>