<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nas - Plusanto</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <h3><a href="{% url 'index' %}"class="button">Wróć na stronę główną</a></h3>
    <h1>O nas</h1>
    <h3>Plusanto powstało na cele projektu na obronę praktyk. Projekt został stworzony przez dwóch kolegów z klasy 4 technikum informatycznego.
        Na początku miał to być tylko projekt do szkoły, ale z czasem stwierdziliśmy że strona PLUSANTO jest potrzebna dla ludzi którzy lubią mieć kontrolę nad swoimi finansami.
        Stworzyliśmy Plusanto, wierząc, że dobrze zarządzane finanse to klucz do osiągnięcia celów i stabilizacji.
        Naszym marzeniem jest budowanie przyszłości finansowej opartej na zaufaniu, dostępności i świadomych decyzjach, dlatego stale doskonalimy naszą platformę, aby odpowiadać na zmieniające się potrzeby naszych użytkowników.
    </h3>
</body>
</html>