<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Plusanto</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <h3><a href="{% url 'index' %}"class="button">Wróć na stronę główną</a></h3>
    <h1>O Plusanto</h1>
    <p>Plusanto powstało celem projektu obrony praktyk. Projekt został utworzony przez dwóch uczniów Zespołu Szkół Elektroniczno-Telekomunikacyjnych w Lesznie na kierunku informatycznym.</p>
    <p>Zamysłem Plusanto było stworzenie strony internetowej do zarządzania finansami. Stworzyliśmy więc stronę zajmującą się ogólno pojętym zarządzaniem budżetu.
    <p>Strona posiada własny algorytm stworzony na podstawie wielu filarów zarządzania budżetem. Algorytm umożliwia użytkownikowi kontrolę nad wieloma parametrami, a następnie algorytm zaleca przedsięwzięcia.</p>
    <!-- Tutaj logo szkoły (albo w stopce razem z wszystkim poniżej) oraz może coś jeszcze -->
    <!-- Wymienianie osób które przyczyniły się wsparciem, bo nie jestem chujem i "I give credit, where credit's due" -->
    <!-- To jakieś małe gdzie tam wiadomo żeby nie przeszkadzało -->

    <p>Dziękujemy osobom które przyczyniły się wsparciem, opinią bądź testowaniem. Szczególne podziękowania dla: Patryk Indziński, Kacper "Th3Kacper" Chmielewski</p>
</body>
</html>