<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Przystępnościomierz</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="module" src="{% static 'js/affordability.js' %}" defer></script>
</head>
<body>
    <header class="czarny-naglowek">
        <h1>Przystępnościomierz</h1>
    </header>
    <h3><a href="{% url 'dashboard' %}"class="button1">Wróć do pulpitu</a></h3>
    <p>Oblicz czy możesz udźwignąć swój wydatek</p>
    
    <div id="responseMessage"></div>
    <form id="affordability-checker" method='POST'>
        {% csrf_token %}
        <br><br><label for="id_expense">Wartość wydatku</label>
            {{form.expense}}
            {{form.expense.errors}}
        <br><br><label for="id_frequency">Powtarzalność</label>
            {{form.frequency}}
            {{form.frequency.errors}}
        <br><br><button class="button2" data-action='calculate'>Oblicz przystępność</button>
    </form>
    <span id="errorValidateJS" style="color: red; display: none;"></span>

    <div id="calculatedResults" style="display:none">
        <h2>Wyliczenie przystępności</h2>
        <h2><p><span id="canDoDisplay"></span></p></h2>
        <div style='display:none'> {% comment %} Nie usuwać, ukryte ale potrzebne! {% endcomment %}
        <h2><p>Saldo przed: <span id="balanceDisplay"></span></p></h2>
        <h2><p>Saldo po: <span id="balanceAftDisplay"></span></p></h2>
        <h2><p>Budżet wydatkowy przed: <span id="budgetExpensesDisplay"></span></p></h2>
        <h2><p>Budżet wydatkowy po: <span id="budgetExpensesAftDisplay"></span></p></h2>
        <h2><p>Budżet zachcianek przed: <span id="budgetWantsDisplay"></span></p></h2>
        <h2><p>Budżet zachcianek po: <span id="budgetWantsAftDisplay"></span></p></h2>
        <h2><p>Dodatek przed: <span id="allowanceDisplay"></span></p></h2>
        <h2><p>Dodatek po: <span id="allowanceAftDisplay"></span></p></h2>
        </div>
        <button class="button2" data-action='save'>Zaktualizuj budżet wliczając ten wydatek</button>
        <ul id="messages"></ul>
        <span style="display: flex; justify-content: center; align-items: center; height: 70vh;">
            <canvas id="chartDisplay" width='600' height='600'></canvas>
        </span>
    </div>
</body>
</html>