<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Budżet</title>
    <script src="{% static 'js/budget.js' %}" defer></script>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<h3><a href="{% url 'dashboard' %}" class="button1">Wróć do pulpitu</a></h3>
    <h1>Witaj w budżecie</h1>

    <form id="budgetForm" method="post">
        {% csrf_token %}
       <h2> {{ form.as_p }}</h2> 
        {% comment %} jeżeli jest typ budżetu 2 to wtedy nie pokazuje procentu na zachcianki {% endcomment %}
        <button class="button2" id='submitButton'>Zapisz</button>
    </form>
    <span id="errorValidateJS" style="color: red; display: none;"></span>
    <div id="responseMessage"></div>

{% if dataJSON %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const data = JSON.parse('{{ dataJSON|escapejs }}'); // Wyciąganie z JSONa danych o ostatnich danych wyjścia
            budgetOutDataDisplay(data);
        });
    </script>
{% endif %}

    <div id="calculatedResults">
        <h2>Wyliczony budżet</h2>
        <h2><p>Saldo: <span id="balanceDisplay"></span></p></h2>
        <h2><p>Budżet wydatkowy: <span id="budgetExpensesDisplay"></span></p></h2>
        <h2><p>Budżet zachcianek: <span id="budgetWantsDisplay"></span></p></h2>
        <h2><p>Dodatek: <span id="allowanceDisplay"></span></p></h2>
        <h2><p>Budżet awaryjny: <span id="budgetEmergencyDisplay"></span></p></h2>
        <h2><p>Dług: <span id="debtDisplay"></span></p></h2>
        <ul id="messages"></ul>
    </div>
</body>
</html>