<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Kalkulator Podatków</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/calculator.js' %}" defer></script>
</head>
<body>
    <header class="czarny-naglowek">
        <h1>Kalkulator Podatków</h1>
    </header>
    <h3><a href="{% url 'dashboard' %}"class="button1">Wróć do pulpitu</a></h3>
    <p>Oblicz swój podatek w kilku prostych krokach.</p>

    <form id="tax-calculator" method='POST'>
        <br><br><label for="id_income">Przychód roczny</label>
            {{form.income}}
            {{form.income.errors}}
        <br><br><label for="id_deductions">Odliczenia od podatku</label>
            {{form.deductions}}
            {{form.deductions.errors}}
        <br><br>
        <button class="button2" type="submit">Oblicz podatek</button>
   </form>
    <span id="errorValidateJS" style="color: red; display: none;"></span>

    <div id="result" style="display:none;">
        <h2>Wynik:</h2>
        <p id="tax-amount"></p>
    </div>
</body>
</html>