<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Kalkulator Podatków</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/calculator.js' %}" defer></script>
</head>
<body>
    <header class="czarny-naglowek">
        <h1>Kalkulator Podatków</h1>
    </header>
    <h3><a href="{% url 'index' %}"class="button1">Wróć do pulpitu</a></h3>
    <p>Oblicz swój podatek w kilku prostych krokach.</p>

    <form id="tax-calculator">
        <label for="income">Przychód roczny:</label>
        <input type="number" id="income" name="income" placeholder="Wpisz swój przychód roczny" required>

        <label for="deductions">Odliczenia od podatku:</label>
        <input type="number" id="deductions" name="deductions" placeholder="Wpisz łączną wartość odliczeń od podatku" required>

        <button type="submit">Oblicz podatek</button>
    </form>
    <span id="errorValidateJS" style="color: red; display: none;"></span>

    <div id="result" style="display:none;">
        <h2>Wynik:</h2>
        <p id="tax-amount"></p>
    </div>
</body>
</html>