<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt - Plusanto</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
    <h3><a href="{% url 'index' %}"class="button">Wróć na stronę główną</a></h3>
    <h1>Kontakt</h1>
    <strong><p>Aby skontaktować się w sprawie strony, prosimy o kontakt mailowy na adres:</p></strong>
    <strong><p><a href="mailto:plusantoadmin@gmail.com">plusantoadmin@gmail.com</a></strong></p>
    <br /> <br />
    <strong><p>Kontakt do twórców</p></strong>
    <!-- I to tak że jeden po lewo drugi po prawo -->
    <p>Bartosz Jędrzychowski</p>
    <p><a href="mailto:bartosz.jedrzychowski2006@gmail.com">bartosz.jedrzychowski2006@gmail.com</a></p>
    <br />

    <p>Maksymilian Antoniak</p>
    <p><a href="mailto:maksymilianantoniak2006@gmail.com">maksymilianantoniak2006@gmail.com</a></p>
</body>
</html>