<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Pulpit</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
     <header class="czarny-naglowek">
        <h1>Witaj w pulpicie</h1>
    </header>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h3><a href="{% url 'index' %}"class="button1">Wróć na stronę główną</a></h3>
    
    <button class="button2"><a href="{% url 'budget' %}">Budżet</a></button>
    <button class="button2"><a href="{% url 'calculator' %}">Kalkulator</a></button>
    <button class="button2"><a href="{% url 'goals' %}">Cele</a></button>
</body>
</html>