<!DOCTYPE html>
<html lang="pl">
    
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Pulpit</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
     <header class="czarny-naglowek">
        <h1>Witaj w pulpicie</h1>
    </header>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h3><a href="{% url 'index' %}"class="button1">Wróć na stronę główną</a></h3>
    <div class="dashboard-menu">
    <button class="button5"><a href="{% url 'budget' %}"><h4>Budżet</h4></a></button>
    <button class="button5"><a href="{% url 'calculator' %}"><h4>Kalkulator</h4></a></button>
    <button class="button5"><a href="{% url 'affordability' %}"><h4>Przystępnościomierz</h4></a></button>
    </div>
</body>
</html>