<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    
    
    <header class="czarny-naglowek">
        <h1>Witaj na stronie głównej</h1>
    </header>
    <div class="text-image-container">
       
      </div>
      
    <ul>
    <li><h2><a href="{% url 'register' %}">Zarejestruj się</a></h2></li>
    <li><h2><a href="{% url 'login' %}">Zaloguj się</a></h2></li>
    <li><h2><a href="{% url 'logout' %}">Wyloguj się</a></h2></li> <!-- TODO Jedynie widoczne gdy użytkownik zalogowany -->
    <li><h2><a href="{% url 'dashboard' %}">Wejdź do pulpitu</a></h2></li>
    <li><h2><a href="{% url 'about' %}">O nas</a></h2></li>
    <li><h2><a href="{% url 'contact' %}">Kontakt</a></h2></li>
    </ul>
    <h2>Aby przejść dalej zarejestruj się, lub gdy jesteś już zarejestrowany to zaloguj się.</h2>
    
    <br></br>
    <h2>Opis strony</h2>
    <h2>Poznaj aplikację finansową PLUSTANTO – Twojego zaufanego partnera w zarządzaniu finansami!

      Dzięki PLUSTANTO masz pełną kontrolę nad swoimi wydatkami i oszczędnościami, niezależnie od miejsca i czasu.
       Oferujemy łatwe w użyciu narzędzia, które pomogą Ci w efektywnym planowaniu budżetu, monitorowaniu inwestycji i odkładaniu na przyszłość. 
       Z naszym wsparciem zobaczysz pełen obraz swoich finansów i podejmiesz najlepsze decyzje, które zapewnią Ci finansową stabilność i spokój ducha.
      
      Dlaczego warto wybrać PLUSTANTO?
      
      Przejrzysty interfejs: intuicyjny i przyjazny nawet dla początkujących użytkowników,
      Szybki dostęp do analiz i raportów: śledź swoje postępy finansowe i planuj kolejne kroki,
      Bezpieczeństwo danych: dbamy o pełną ochronę Twoich informacji.
      Nie zwlekaj – dołącz do społeczności świadomych finansowo użytkowników i zacznij zarządzać swoimi środkami z łatwością dzięki PLUSTANTO!</h2>
      <img src="{% static "images/kasa.jpg" %}" alt="Obrazek kasy pod tekstem" style="width:1256px;">
</body>

</html>