<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>

<body>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    
    <header class="czarny-naglowek">
        <h1>Witaj na stronie głównej</h1>
    </header>
    <div class="text-image-container">
       
      </div>
      
    <ul>
    <li><button class="button2"><a href="{% url 'register' %}">Zarejestruj się</a></button></li>
    <li><button class="button2"><a href="{% url 'login' %}">Zaloguj się</a></button></li>
    <li><button class="button2"><a href="{% url 'logout' %}">Wyloguj się</a></button></li> <!-- TODO Jedynie widoczne gdy użytkownik zalogowany -->
    <li><button class="button2"><a href="{% url 'dashboard' %}">Wejdź do pulpitu</a></button></li>
    <li><button class="button2"><a href="{% url 'about' %}">O Plusanto</a></button></li>
    <li><button class="button2"><a href="{% url 'contact' %}">Kontakt</a></button></li>
    </ul>
    
    <br /> <br />
    <!-- Napis Plusanto w ładnej czcionce dośc duże, obok całego tekstu po lewo logo Plusanto -->
    <h2>Plusanto</h2>
    <strong><p>Oblicz swój budżet!</p></strong>
    <strong><p>Określ swoje cele finansowe!</p></strong>
    <strong><p>Planuj swoją przyszłość!</p></strong>
    <p>Oferujemy narzędzia, które Ci w tym pomogą!</p>
    <p>Zarejestruj się lub zaloguj, aby skorzystać z naszych zasobów!</p>
    <!-- Niewidzialne odnośniki przy "Zarejestruj się" i "Zaloguj się" -->
      
</body>

</html>